configuration {
    modi: "drun,run";
    show-icons: true;
    font: "monospace 11";
}

//@theme "~/.config/rofi/themes/nils.rasi"
//@theme "/usr/share/rofi/themes/Indego.rasi"

@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
