* {
    bg: #000000;
    fg: #cdd6f4;
    accent: #89b4fa;

    background-color: transparent;
    text-color: @fg;
}

window {
    width: 35%;
    border: 2px;
    border-color: @accent;
    background-color: @bg;
}

mainbox {
    padding: 10px;
}

listview {
    lines: 8;
    spacing: 5px;
}

element {
    padding: 5px;
}

element selected {
    background-color: @accent;
    text-color: #000000;
}

inputbar {
    padding: 5px;
}

prompt {
    enabled: false;
}
